<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Admin</title>
    <link rel="stylesheet" th:href="@{/admin/css/base.css}">
<link rel="stylesheet" th:href="@{/admin/css/dashboard.css}">
    <link th:if="${pageCss != null}"
      rel="stylesheet"
      th:href="@{${pageCss}}">
</head>
<body>

<div class="sidebar">
    <h2>ADMIN</h2>
    <a href="http://localhost:8080/loginAdmin">sdasd</a>
    <a th:href="@{/admin/login}">Dashboard</a>
    <a th:href="@{/admin/users/list}">Users</a>
    <a th:href="@{/admin/clinics/list}">Clinics</a>
    <a th:href="@{/admin/packages}">Packages</a>
    <a th:href="@{/admin/reports}">Reports</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<div class="main">
    <!-- 👇 chỗ này sẽ thay đổi nội dung -->
    <div th:replace="${content}"></div>
</div>

</body>
</html>
