<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Doctor Management</title>
   <link rel="stylesheet" th:href="@{/admin/css/base.css}">
   <link rel="stylesheet" th:href="@{/admin/css/users.css}">
</head>
<body>
<div class="sidebar">
    <h2>ADMIN</h2>
   <a href="http://localhost:8080/admin/home">Dashboard</a>
    <a href="http://localhost:8080/admin/users">Users</a>
    <a href="http://localhost:8080/admin/doctors" class="active">Doctors</a>
    <a href="http://localhost:8080/admin/clinics">Clinics</a>
    <a href="http://localhost:8080/admin/packages">Packages</a>
    <a href="http://localhost:8080/admin/ai">AI Management</a>
    <a href="http://localhost:8080/admin/notifications">Notifications</a>
    <a href="http://localhost:8080/admin/reports">Reports</a>
</div>
<div class="main">
    <h1>User Management</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="userTable"></tbody>
    </table>
</div>

<script th:src="@{/admin/js/users.js}"></script>

</body>
</html>
